<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Builder Contract Email</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
</head>
<body>
	<p>
	This is an Email notification to <span th:text="${buildingAuthName}"> </span>,
	</p>
	
	<p>
	
    <span th:text="${sendContractToBA}"> </span>
      
	Subject : <span th:text="${serviceId}"> </span> Contract for In-Premise work
	</p>
	
	<p>
		Dear Building Authority,
	</p>

	<p>
		Kindly find attached the final contract for going ahead with network build related work within your premise. 
		We request you to kindly sign and send the soft copy to <span th:text="${ospEmail}"> </span> and 
		Hard-copy to <span th:text="${address}"> </span> 
		by <span th:text="${formattedDateTime}"> </span>
		
	</p>
	<p>
		Attachment : <span th:text="${attachment}"> PFA </span>
	</p>
 
	
	<p style="text-align: justify;">
	
		<span><b>Best Regards,</b></span><br> <span><b>Tata
				Communications Customer Service Team</b></span>
	</p>
</body>
</html>