
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Circuit Termination Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
 padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
</head>
<body>
	<p>Dear <span
               th:text="${customerName}">
            </span>,
	</p>
	<p>
	You order has been accepted
	</p>
<table style="width: 70%"> 
         <tr>         
            <th width="25%" align="center"><b>Your Order</b></th>
            <th width="25%" align="center"><b>Service ID</b></th>
			<th width="25%" align="center"><b>Delivery Completed</b></th>			
			<th width="25%" align="center"><b>Acceptance Date</b></th>
         </tr>
         <tr>         
            <td width="25%" align="center"><span
               th:text="${orderCode}">Order Code</span></td>
            <td width="25%" align="center"><span
               th:text="${serviceId}">071EC150</span></td>
           	<td width="25%" align="center"><span
               th:text="$Yes">Yes</span></td>
                <td width="25%" align="center"><span
               th:text="${customerAcceptanceDate}">27/2/2021 2:00 PM</span></td>
           
         </tr>
        </table>
        <p>The old circuit- Service ID<span
               th:text="${parentServiceId}">
            </span>(old circuit Id) will be terminated on Date <span
               th:text="${terminationDate}">
            </span>
	</p>
        
        
        <p style="text-align: justify;">
		<span><b>Best Regards,</b></span><br> <span><b>Tata
				Communications Customer Service Team</b></span>
	</p>
</body>
</html>