<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Help Ticket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    </style>

</head>

<body>
    <div>
        <p>
            Hi,
        </p>

        <p>
            <span th:text="${creditMessage}">Tata Sky Limited</span></p>
        <p>
           Account:  <span th:text="${account}">Tata Sky Limited</span><br>
		   Opportunity:  <span th:text="${opportunity}">TSBB--Prestige SunnySide Upgrade CKT  091BANG1143032956647 to 1 Gig </span><br>
           Id : <span th:text="${id}">2041711</span><br>
		   Status Of Credit Control: <span th:text="${creditControlStatus}">Positive</span><br>
              Go to this opportunity by clicking here: <span th:text="${creditCheckDocument}">https://eu10.salesforce.com/0060X00000bJNTs</span><br><br>
              
        </p>
        
    </div>
 <p style="text-align: justify;"><span>Regards,</span><br><span>Tata Communications Customer Service Team</span></p>

</body>

</html>