	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Reset Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Dear <span th:text="${name}">Name</span>,
	</p>
	<p>Rights to sign the document has been delegated to you.</p>
	<p>
		Click on the link below to go to the login page.<br /> <a
			th:href="@{${reseturl}}"> Login Page</a>
	</p>
	<p>
		If clicking the link does not work, copy and paste this link directly
		into a web browser.<br> <span th:text="${reseturl}">login</span>
	</p>

	<p>
		_________________________________________________________________________________________________________________<br>
		<br> Please do not reply to this
		message. This email address is not monitored so we are unable to
		respond to any messages sent to this address.<br> For more
		information, please visit www.tatacommunications.com
	</p>
	<p>
		Thanks, <br /> <b>Tata Communications Ltd.</b>
	</p>
</body>
</html>