<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:remove="all">Delivery complete</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>

</head>

<body>
	<div>
		<p>Dear <span th:text="${userType}">Customer</span>,</p>

		<p>Your order has been delivered:</p>
	</div>
	<div>
		<table style="width: 70%">
			<tr>
				<th width="20%" align="center"><b>Your order</b></th>
				<th width="20%" align="center"><b>Sub order Ref</b></th>
				<th width="20%" align="center"><b>Delivery completed</b></th>
				<th:block th:if="${userType=='Partner'}">
					<th width="20%" align="center"><b>Opportunity Classification</b></th>
					<th width="20%" align="center"><b>End Customer Name</b></th>
				</th:block>
			</tr>

			<tr>
				<td width="20%" align="center"><span th:text="${orderid}">#123123</span>
				</td>
				<td width="20%" align="center"><span th:text="${suborderref}">#123123</span>
				</td>
				<td width="20%" align="center"><span th:text="${delivery_date}">12/12/2020</span></td>
				<th:block th:if="${userType=='Partner'}">
					<td width="20%" align="center"><span th:text="${classification}">Sell Through</span></td>
					<td width="20%" align="center"><span th:text="${endCustomerName}">Test Customer Name</span></td>
				</th:block>
			</tr>

		</table>
		<br>

	</div>
	<p style="text-align: justify;">
		<span><b>Best Regards,</b></span><br>
		<span><b>Tata Communications Customer Service Team</b></span>
	</p>
</body>

</html>
