<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Docusign Signed - Confirmation</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.underline {
	text-decoration-line: underline;
	text-decoration-style: double;
	text-decoration-color: blue;
}
</style>
</head>
<body>
	<p>Dear Account Manager,</p>
	<p>
		The Optimus COF has been signed by your customer <b><span th:text="${customername}">CustomerName</span></b>, User <b><span th:text="${username}">UserName</span></b> <br> through Docusign.</br>
	</p>
	<p style="text-align: justify;">
		Please feel free to reply to <a href="mailto:support.customer@tatacommunications.com"><u>support.customer@tatacommunications.com</u></a> in case you need any help.
	</p>
</body>
</html>