<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Expiry of feasibility</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>

<body>
    <div>
        <p>
            Dear Customer,
        </p>

        <p>
            The feasibility associated with your quotation
            <span th:text="${orderid}">#123123</span> has expired. So please click
            <a th:href="@{${quotetracklink}}">here</a> now to renew your price online.
        </p>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        Your Order
                        <br>
                        <span th:text="${orderid}">#123123</span>
                    </td>
                    <td>
                        Track the quotation status
                        <br>
                        <a th:href="@{${statuslink}}">Link to quote</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>