
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Expiry Quote</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>


</head>
<body>
	<p>Dear Customer,</p>
	<p>
		Your quotation <b><span th:text="${quotation}">Quotation</span></b>
		has expired. So please click <a th:href="@{${quotelink}}"><u>here</u></a>
		to renew your price online.
	</p>

	<table style="width: 55%">

		<tr>
			<td width="20%" align="center"><b>Order ref</b><br> <span
				th:text="${orderrefid}">OrderRefernceId</span></td>
			<td width="20%" align="center"><b>Track quotation status</b><br>
				<a th:href="@{${quotetracklink}}">uoteTrack </a></td>


		</tr>
	</table>
</body>
</html>