<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Oppertunity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.underline {
	text-decoration-line: underline;
	text-decoration-style: double;
	text-decoration-color: blue;
}

    </style>
</head>
<body>
<p>Dear Team,</p>
<p>
    An opportunity <span th:text="${oppertunityId}">Oppertunoity Id</span> has been created through Optimus- Partner
    portal. Please find the customer and partner details below and verify the information.
</p>

<p>End customer Information:</p>
<p><span><b>Legal Entity name : </b></span><span th:text="${endCustomerLeName}">Cognizant US Corp</span></br>
    <span><b>Legal entity Id (CUID): </b></span><span th:text="${customerCuid}">9803</span></p>

<p>Partner account Information:</p>
<p><span><b>Partner Account Name : </b></span><span th:text="${accountName}">Regus Group</span></br>
    <span><b>Partner Org Id: </b></span><span th:text="${orgId}">98091</span></br>
    <span><b>Partner LE name: </b></span> <span th:text="${partnerLeName}">Regus Pvt Ltd</span></br>
    <span><b>Partner LE CUID: </b></span> <span th:text="${partnerCuid}">2345</span></p>
</p>

<p style="text-align: justify;">
    Please validate the end customer details. If the SECS ID is not present for the selected end customer, then generate
    the SECS ID and verify all the order attributes.<br><br>

    <span><b>Thanks</b></span><br>
    <span><b>Optimus Partner team</b></span>
</p>
</body>
</html>