<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Opportunity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.underline {
	text-decoration-line: underline;
	text-decoration-style: double;
	text-decoration-color: blue;
}



    </style>
</head>
<body>
<p>Hi Team,</p>
<p>
    A user from <span th:text="${partnerAccountName}">Regus Group</span> has submitted a new legal entity creation request with following
    details
</p>

<p><b>New Customer Information:</b></p>
<p>
<table style="overflow:auto;">
    <tbody>
    <tr>
        <td><b>Registered Name of Customer</b></td>
        <td><span th:text="${customerName}">Cognizant</span></td>
        <td><b>Customer Website</b></td>
        <td><span th:text="${customerWebsite}">www.tatcommunications.com</span></td>
    </tr>
    <tr>
        <td><b>Industry</b></td>
        <td><span th:text="${industry}">Education</span></td>
        <td><b>Sub Industry</b></td>
        <td><span th:text="${subIndustry}">Study</span></td>
    </tr>
    <tr>
        <td><b>Country of Incorporation</b></td>
        <td><span th:text="${country}">India</span></td>
        <td><b>City</b></td>
        <td><span th:text="${city}">Chennai</span></td>
    </tr>
    <tr>
        <td><b>Registered Number</b></td>
        <td><span th:text="${registrationNo}">1234567890</span></td>
        <td><b>Zip Postal Code</b></td>
        <td><span th:text="${postalCode}">6000089</span></td>
    </tr>
    <tr>
        <td><b>State Province</b></td>
        <td><span th:text="${state}">Tamilnadu</span></td>
        <td><b>Street</b></td>
        <td><span th:text="${street}">Big street</span></td>
    </tr>
    <tr>
        <td><b>Customer Type</b></td>
        <td><span th:text="${customerType}">Business</span></td>
        <td><b>Type of Business</b></td>
        <td><span th:text="${businessType}">Education</span></td>
    </tr>

    </tbody>
</table>

<p><b>Partner Account Information:</b></p>

<table style="overflow:auto;">
    <tbody>
    <tr>
        <td><b>Partner Account Name</b></td>
        <td><span th:text="${partnerAccountName}">Regus Group</span></td>
    </tr>
    <tr>
        <td><b>Partner Account Id</b></td>
        <td><span th:text="${partnerAccountId}">00320000016V3EnAAK</span></td>
    </tr>
    <tr>
        <td><b>Partner Org Id</b></td>
        <td><span th:text="${partnerOrgId}">98091</span></td>
    </tr>
    <tr>
        <td><b>Partner LE Name</b></td>
        <td><span th:text="${partnerLeName}">Regus Pvt Ltd</span></td>
    </tr>
    <tr>
        <td><b>Partner LE CUID</b></td>
        <td><span th:text="${partnerLeCUID}">2345</span></td>
    </tr>
    </tbody>
</table>

<p style="text-align: justify;">
    Please validate if  above end customer legal entity is present<br>

    If it is not present ,then create a new legal entity/account in SFDC with the account/entity creation request with the record ID <b><span th:text="${recordId}">a0T2500000AMAMoEAP</span></b> in SFDC and onboard
    the newly created Account/Legal Entity in Optimus.<br><br>

<p style="text-align: justify;"><span><b>Best Regards,</b></span><br><span><b>Tata Communications Customer Service Team</b></span></p>
</p>
</body>
</html>
