<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Verbal Agreement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
         table, td, th {
         border: 1px solid black;
         border-collapse: collapse;
         }
      </style>
</head>
<body>

<th:block>
    <p>Dear Team,</p>
</th:block>

<p>
    Partner created below order on Optimus portal.
</p>
<table style="width: 70%">
    <tr>
        <td width="10%">SFDC Opportunity</td>
        <td width="10%"  align="center"><span th:text="${opportunityId}">Test opty</span></td>
    </tr>
    <tr>
        <td width="10%">Optimus Opportunity</td>
        <td width="10%" align="center"><span th:text="${orderCode}">Test order</span></td>
    </tr>
</table>

<p> This email notification is for your information.</p>

<p style="text-align: justify;"><span><b>Best Regards,</b></span><br><span><b>Tata Communications Customer Service Team</b></span></p>
</body>
</html>
