
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Task Assignment Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
 padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
</head>
<body>
	<p>Dear <span
               th:text="${memberName}">
            </span>,
	</p>
	<p>
	Your service issue task has been <span th:text="${taskStatus}"></span>. Please see the task details below 
	</p>
<table style="width: 70%"> 
         <tr>         
            <th width="25%" align="center"><b>Task Name</b></th>
            <th width="25%" align="center"><b>Service ID</b></th>
			<th width="25%" align="center"><b>Task Closed Date</b></th>			
			<th width="25%" align="center"><b>Task Details</b></th>
         </tr>
         <tr>         
            <td width="25%" align="center"><span
               th:text="${taskName}">Service Issue</span></td>
            <td width="25%" align="center"><span
               th:text="${serviceId}">071EC150</span></td>
           	<td width="25%" align="center"><span
               th:text="${closedDate}">27/2/2021 2:00 PM</span></td>
            <td width="25%" align="center"><span
				th:text="${taskDetails}">Task Detail</span></td>
         </tr>
        </table>
        <p style="text-align: justify;">
		<span><b>Best Regards,</b></span><br> <span><b>Tata
				Communications Customer Service Team</b></span>
	</p>
</body>
</html>