<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:remove="all">MOM Notification</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>

</head>

<body>

	<div>
		<p>Dear Team,</p>
		<p>
			Please find below MOM details for order:<span th:text="${orderCode}">
			</span>,
		</p>

	</div>

	<table style="width: 90%">
		<tr>
			<th width="10%" align="center"><b>Sr No.</b></th>
			<th width="20%" align="center"><b>ID*</b></th>
			<th width="20%" align="center"><b>Items </b></th>
			<th width="20%" align="center"><b>Responsibility/Ownership</b></th>
			<th width="20%" align="center"><b>Due By Date </b></th>
			<th width="20%" align="center"><b>Status</b></th>
		</tr>
		<tbody th:each="internalMOMDetail:${internalMomDetails}">
			<tr>
				<td width="10%" align="center"><span
					th:text="${internalMOMDetail.serialNo}"></span></td>
				<td width="20%" align="center"><span th:text="${internalMOMDetail.id}"></span></td>
				<td width="20%" align="center"><span th:text="${internalMOMDetail.items}"></span></td>
				<td width="20%" align="center"><span
					th:text="${internalMOMDetail.responsibility}"></span></td>
				<td width="20%" align="center"><span
					th:text="${internalMOMDetail.dueDate}"></span></td>
				<td width="20%" align="center"><span
					th:text="${internalMOMDetail.status}"></span></td>
			</tr>
		</tbody>


	</table>
	<br>

	<div style="text-align: justify;">
		<span>Please do not reply to this message. This email address
			is not monitored so we are unable to respond to any messages sent to
			this address.
		</span>
	</div>

	<div style="text-align: justify;margin-top:35px">
		<span><b>Best Regards,</b></span><br> <span><b>Tata
				Communications Customer Service Team</b></span>
	</div>
</body>
</html>