	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Thank you for contacting us</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Dear Manager,
	</p>
	<p>An user <span th:text="${userId}">User</span> have tried to generate quote with Multiple legal entities. Please do the needful.</p>
	

	<p>
		_________________________________________________________________________________________________________________<br>
		<br> Please do not reply to this
		message. This email address is not monitored so we are unable to
		respond to any messages sent to this address.<br> For more
		information, please visit www.tatacommunications.com
	</p>
	<p>
		Thanks, <br /> <b>Tata Communications Ltd.</b>
	</p>
</body>
</html>