
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">My Order Missing Information Request</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>

</head>
<body>
	<p>Dear Customer,</p>
	<p>Your order requires further inputs before we can process it:</p>

	<table style="width:55%">
		
		<tr>
		<td width="20%" align="center"><b>Order ref</b><br><span th:text="${orderrefid}">OrderRefernceId</span></td>
		<td width="20%" align="center"><b>Sub order ref</b><br><span th:text="${suborderrefid}">SubOrderRefernceId</span></td>
		<td width="20%" align="center"><b>Missing information</b><br><span th:text="${missinginformation}">MissingInformation</span></td>
			
			
			</tr>
	</table>

</body>
</html>