<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Congratulations on you NEW SERVICE ID</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Dear Team,
	</p>
	<p>
		Please configure this Netp Reference Id : <span
			th:text="${netpRefId}">NetpRefId</span>for New SERVICE ID generated  : <span
			th:text="${serviceId}">ServiceId</span> for device type : <span
			th:text="${type}">DeviceType</span> with customer name : <span
			th:text="${customerName}">CustomerName</span> , mac address : <span
			th:text="${hsuMac}">HsuMac</span> and hsu ip : <span
			th:text="${hsuIp}">HsuIp</span>
	</p>


	<p>
		_________________________________________________________________________________________________________________<br>
		<br> Please do not reply to this message. This email address is
		not monitored so we are unable to respond to any messages sent to this
		address.<br> For more information, please visit
		www.tatacommunications.com
	</p>
	<p>
		Thanks, <br> <b>Tata Communications Ltd.</b>
	</p>
</body>
</html>