<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">New order submitted</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>

<body>
    <div>
        <p>
            Dear Optimus Pilot Team,
        </p>

        <p>
            Order enrichment has now been fulfilled by the customer. So please proceed with order validation, order entry and order tracking
            processes. </p>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        Order Ref<br>
                        <span th:text="${orderid}">#123123</span>
                    </td>
                    <td>
                        Sub order Ref<br>
                        <span th:text="${suborderref}">#123123</span>
                    </td>
                    <td>
                            Access to customer order<br>
                        <a th:href="@{${omsorderviewlink}}">Link to OMS order view</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>