
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">New User</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</head>
<body>
	<p>
		Dear <b><span th:text="${name}">Name</span></b>,
	</p>
	<p>
		Your access to Tata Communications Portal is now activated. Please
		click on the link below to start your online journey: <a
			th:href="@{${customeractivationlink}}"><u>customer.tatacommunications.com</u></a>
	</p>
    <br/>
    <p>login: <b><span th:text="${email}">Email</span></b></p>

</body>
</html>