
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Sales Order - NGP Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.underline {
	text-decoration-line: underline;
	text-decoration-style: double;
	text-decoration-color: blue;
}
</style>
</head>
<body>
<p>Dear Team,</p>

<p>NGP customer created below order on Optimus portal.</p>
<p><b>SFDC Opportunity   :  </b><span th:text="${opportunity_id}"></span></p>
<p><b>Quote Reference ID :  </b><span th:text="${quote_ref_id}"></span></p>
<p><b>Status             :  </b><span th:text="${status}"> </span></p>

<br>
<p>This email notification is for your information. </p>

<p style="text-align: justify;">
    <span><b>Best Regards,</b></span><br>
    <span><b>Tata Communications Customer Service Team</b></span>
</p>
</body>
</html>
