<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Order status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>

<body>
    <div>
        <p>
            Dear Customer,
        </p>

        <p>
            Your order delivery is progressing. Please see the status of your order tracking below: </p>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                            Your order<br>
                        <span th:text="${orderid}">#123123</span>
                    </td>
                    <td>
                            Sub order Ref<br>
                        <span th:text="${suborderref}">#123123</span>
                    </td>
                    <td>
                            View order tracking<br>
                        <a th:href="@{${order_tracking_link}}">Link to OMS order view</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div>
            <a th:href="@{${}}">Order Tracking View</a>
        </div>

    </div>

</body>

</html>