
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Congratulations on you new order</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Dear <span th:text="${name}">User</span>,
	</p>
	<p>
		Congratulations !!! A New Order has been created with order Id : <span
			th:text="${orderId}">OrderId</span>.
	</p>


	<p>
		_________________________________________________________________________________________________________________<br>
		<br> Please do not reply to this message. This email address is
		not monitored so we are unable to respond to any messages sent to this
		address.<br> For more information, please visit
		www.tatacommunications.com
	</p>
	<p>
		Thanks, <br /> <b>Tata Communications Ltd.</b>
	</p>
</body>
</html>