<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Pending provisioning details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>

<body>
    <div>
        <p>
            Dear Customer,
        </p>

        <p>
            Your order requires further inputs to enable us to start the delivery process. Please click on the link below and complete the missing information.
        </p>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                            Your Order<br>
                        <span th:text="${orderid}">#123123</span>
                    </td>
                    <td>
                            Trigger delivery of your orders<br>
                        <a th:href="@{${order_enrichment_form_link}}">Link to order Enrichment Form</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>
