<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Order Complete! Meet Your Project Manager.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		<b> Dear <span th:text="${customerName}"></span>, </b>
	</p>
	<p>
		Thank you for choosing Tata Communications IZO™ Private Cloud for your network services.
	</p>
	<p>
		We are pleased to inform you that your recent order on Tata Communications TC<sup>x</sup> <b>(<span th:text="${orderId}"></span>)</b> has been successfully completed.
	</p>
	<p>
		As a next step, we have assigned <span th:text="${pmName}"></span>, as your project manager. <span th:text="${pmName}"></span> will be your point of contact through the fulfillment of the project.
	</p>
	<p>
		<b><u>Manager</u></b> <br>
		<b>Name: <span th:text="${pmName}"></span></b> <br>
		<b>Email ID: <span th:text="${pmEmailId}"></span></b>
	</p>
	<p>
		<span th:text="${pmName}"></span> will be contacting you shortly to convene a kick-off call with your team. The discussion will focus on project deliverables, and the expected date of delivery <span th:text="${customerExpectedDeliveryDate}"></span> set forth by your team.
	</p> 
	<p>
		Please feel free to contact <span th:text="${pmName}"></span> - <a th:href="'mailto:' + ${pmEmailId}"><span th:text="${pmEmailId}"></span></a> if you have any queries.
	</p>
	<p>
		<b>Best regards,</b> <br>
		<b>Tata Communications TC<sup>x</sup> Support Team</b>
	</p> 
	
</body>
</html>
