	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Provisioning Order - RRFS date change</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
	<p>
		Dear Customer,
	</p>
	<p>Your Requested Ready for Service Date has been updated, please see below the status of your order <br>
	tracking:</p>
	<table style="width:55%">
  <tr>
    <td width="20%" align="center"><b>Order ref</b><br><span th:text="${orderrefid}"></span></td>
    <td width="20%" align="center"><b>Sub order ref</b><br><a th:href="${suborderrefid}"></a></td>
    <td width="60%" align="center"><b>View order tracking </b><br><a th:href="${ordertracklink}"></a></td>
  </tr>
  
</table>
	<p><a th:href="${ordertracklink}"></a></p>
</body>
</html>