<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Provisioning order update</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>

<body>
    <div>
        <p>
            Dear Customer,
        </p>

        <p>
            Thank you for your updates – your order requires further inputs to allow us to start the delivery process. Please click on
            the link below and include the missing information. </p>
    </div>
    <div>
        <table width="30%">
            <tbody>
                <tr>
                    <td>
                            Your Order<br>
                        <span th:text="${orderid}">#123123</span>
                    </td>
                    <td>
                            Sub order Ref<br>
                            <span th:text="${suborderref}">#123123</span>
                        </td>
                    <td>
                            View order tracking<br>
                        <a th:href="@{${order_tracking_link}}">Link to order tracking</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>