<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Reset Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Dear <span th:text="${name}">Name</span>,
	</p>
	<p>Forgot your password? Don’t worry, we will help you set a new
		one right now!</p>
	<p>
		Click on the link below to choose a new password.<br /> <a
			th:href="@{${reseturl}}"> Reset your Password</a>
	</p>
	<p>
		If clicking the link does not work, copy and paste this link directly
		into a web browser.<br> <span th:text="${reseturl}">reset
			url</span>
	</p>
	<p>This link will expire within 48 hours, or once it has been used,
		or if you generate a new link.</p>
	<p>
		_________________________________________________________________________________________________________________<br>
		P.S. If you did not request a password reset, or are having any
		trouble logging in, please let us know at
		customer.portal@tatacommunications.com.<br> Please do not reply to this
		message. This email address is not monitored so we are unable to
		respond to any messages sent to this address.<br> For more
		information, please visit www.tatacommunications.com
	</p>
	<p>
		Thanks, <br /> <b>Tata Communications Ltd.</b>
	</p>
</body>
</html>