	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Sales Order - LE Mismatch</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
u {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: blue;
}
</style>
</head>
<body>
	<p>
		Dear Optimus Pilot Team,
	</p>
	<p>Your customer <span th:text="${customername}"></span>, User <span th:text="${username}"></span> has experienced a ‘Legal entity mismatch’.<br>
	Please contact the customer proactively to investigate:</p>
	<table style="width:35%">
  <tr>
    <td width="10%" align="center"><b>Order ref</b><br><span th:text="${orderrefid}"></span></td>
    <td width="25%" align="center"><b>Access to customer order</b><br><a th:href="${omsorderviewlink}"></a></td>
  </tr>
  
</table>
</body>
</html>