<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Invalid Service Code</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>
		Dear Team,
	</p>
	<p>
		Invalid Service Code for OrderCode : <span
			th:text="${orderCode}">OrderCode</span> for upstream Ids :<span
			th:text="${upstreamIds}">Upstream Ids</span>
	</p>


	<p>
		_________________________________________________________________________________________________________________<br>
		<br> Please do not reply to this message. This email address is
		not monitored so we are unable to respond to any messages sent to this
		address.<br> For more information, please visit
		www.tatacommunications.com
	</p>
	<p>
		Thanks, <br> <b>Tata Communications Ltd.</b>
	</p>
</body>
</html>