
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Service Status Changed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
table, th, td {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
</head>
<body>
<p>
    Dear All,
</p>
<p>
<span th:text="${mailContent}!=null ? ${mailContent} : 'The following Service ID has changed status.'"></span>
</p>
<table style="width: 70%">
    <tr>
        <th width="20%" align="center"><b>Order ID :</b></th>
        <td width="20%" align="center"><span th:text="${orderCode}"></span></td>

    </tr>
    <tr>
        <th width="20%" align="center"><b>Service ID :</b></th>
        <td width="20%" align="center"><span th:text="${serviceCode}"></span></td>
    </tr>
    <tr th:if="${dateOfChange}!=null and ${!dateOfChange.isEmpty()}">
        <th width="20%" align="center"><b>Date of Change :</b></th>
        <td width="20%" align="center"><span th:text="${dateOfChange}"></span></td>

    </tr>
    <tr th:if="${cancellationInitiatedBy}!=null and ${!cancellationInitiatedBy.isEmpty()}">
        <th width="20%" align="center"><b>Cancellation Initiated By :</b></th>
        <td width="20%" align="center"><span th:text="${cancellationInitiatedBy}"></span></td>
    </tr>
    <tr th:if="${retainExistingNwresource}!=null and ${!retainExistingNwresource.isEmpty()}">
        <th width="20%" align="center"><b>Retain Existing Network Resource :</b></th>
        <td width="20%" align="center"><span th:text="${retainExistingNwresource}"></span></td>

    </tr>
    <tr th:if="${reason}!=null and ${!reason.isEmpty()}">
        <th width="20%" align="center"><b>Reason selected :</b></th>
        <td width="20%" align="center"><span th:text="${reason}"></span></td>

    </tr>

</table>
<p style="text-align: justify;">
    <span><b>Best Regards,</b></span><br>
    <span><b>Tata communication Ltd </b></span>
</p>
</body>
</html>