
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Service Status Changed</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
table, th, td {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
</head>
<body>
<p>
    Dear User,
</p>
<p>Program Manager task for the order with COPF_ID :<span th:text="${orderCode}"></span>   and Service Ids: <span th:text="${serviceCode}"></span> is transfered to <span th:text="${reassignedTo}"></span> from <span th:text="${assignedFrom}"></span>  by <span th:text="${assignedBy}"></span>:</p>

<p style="text-align: justify;">
    <span> NOTE: This is a system generated mail. Please do not reply.</span><br>
    <span><b>Best Regards,</b></span><br>
    <span><b>Tata communication Ltd </b></span>
</p>
</body>
</html>