<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Service Acceptance</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
	<p>
		Dear User,
	</p>
	<p>
		Thank you for your faith in Tata Communications - IZO Private Cloud ,<span
			th:text="${acceptancemsg}"></span>. Service delivery is done on <span th:text="${date}"/>. If you need any additional support in your digital journey, please reach out to - 
	</p>
	
	<p>GSMC Helpdesk</p>
	<p>Email: gsmc.helpdesk@tatacommunications.com</p>
	<p>Global Direct: +91-44-61042800</p>
	<p>Toll Free:</p>
	<p>India: 1800 266 0665</p>
	<p>Singapore: 800 101 2567</p>
	<p>United Kingdom(UK): 800 016 3014</p>
	<p>United States (US): 1 844 519 0680</p>

	<p>Looking forward to serve you again.</p> 
	
     <p style="text-align: justify;"><span><b>Best Regards,</b></span><br><span><b>Tata Communications Customer Service Team</b></span></p>  
</body>
</html>