<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">SFDC -Exception Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    </style>

</head>

<body>
    <div>
        <p>
            Dear Dev Team,
        </p>

        <p>
            Please find the exception details.</p>
        <p>
           Error Message:  <b><span th:text="${errorMessage}">manojkumar@legomail.com</span></b><br><br><br>
		   Request Message:  <b><span th:text="${sfdcRequest}">manojkumar@legomail.com</span></b><br><br><br>
           API url: <b><span th:text="${sfdcUrl}">Hitler</span></b><br><br><br>
		   Header: <b><span th:text="${authHeader}">Hitler</span></b><br><br><br>
        </p>
    </div>
 <p style="text-align: justify;"><span><b>Best Regards,</b></span><br><span><b>Tata Communications Customer Service Team</b></span></p>

</body>

</html>