
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Site Entry</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}
</style>


</head>
<body>
	<p>Dear Optimus Pilot Team,</p>
	<p>
		Your customer <b><span th:text="${customername}">CustomerName</span></b>
		, User <b><span th:text="${username}">UserName</span></b> has entered
		a new site on their account:
	</p>


<table style="width: 55%">

		<tr>
			<td width="20%" align="center"><b>Order ref</b><br> <span
				th:text="${orderrefid}">OrderRefernceId</span></td>
			<td width="20%" align="center"><b>Access to customer order</b><br> <a th:href="@{${omsorderaccesslink}}">Access to customer
						order</a></td>


		</tr>
	</table>
	

</body>
</html>