<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Tax exemption selected by customer for USA site</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.underline {
	text-decoration-line: underline;
	text-decoration-style: double;
	text-decoration-color: blue;
}
</style>
</head>
<body>
	<p>Dear <span
               th:text="${accountmanager}">Account Manager</span>,</p>
	<p>
		Your customer has selected tax exemption as Yes for USA site. Please follow up with the <br>customer for tax related documents.</br>
	</p>
	<table style="width: 70%"> 
         <tr>
            <th width="50%" align="center"><b>Your order</b></th>
         </tr>
         <tr>
            <td width="50%" align="center"><span
               th:text="${orderid}">071EC150</span></td>
         </tr>
</body>
</html>