
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Termination Not Eligible For This Circuit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
table, th, td {
	padding: 10px;
	border: 1px solid black;
	border-collapse: collapse;
}
</style>
</head>
<body>
<p>
    Dear All, 
    
    The below service details are not eligible for termination in O2C. Can you please take a look into this? 
</p>
<p>
<span th:text="${mailContent}!=null ? ${mailContent} : 'The following Service ID has changed status.'"></span>
</p>
<table style="width: 70%">
    <tr>
        <th width="20%" align="center"><b>Order ID</b></th>
      <th width="20%" align="center"><b>Service ID</b></th>
      <th width="20%" align="center"><b>Date of Termination</b></th>
      <th width="20%" align="center"><b>Reason</b></th>

    </tr>
    <tr th:each="data: ${datas}">
      <td width="20%" align="center"><span th:text="${data.orderCode}"></span></td>
        <td width="20%" align="center"><span th:text="${data.serviceCode}"></span></td>
         <td width="20%" align="center"><span th:text="${data.terminationEffectiveDate}"></span></td>
          <td width="20%" align="center"><span th:text="${data.reason}"></span></td>
         
    </tr>
   <!--  <tr th:if="${dateOfChange}!=null and ${!dateOfChange.isEmpty()}">
        <th width="20%" align="center"><b>Date of Termination :</b></th>
        <td width="20%" align="center"><span th:text="${dateOfChange}"></span></td>

    </tr>
    <tr th:if="${reason}!=null and ${!reason.isEmpty()}">
        <th width="20%" align="center"><b>Reason :</b></th>
        <td width="20%" align="center"><span th:text="${reason}"></span></td>

    </tr> -->

</table>
<p style="text-align: justify;">
    <span><b>Best Regards,</b></span><br>
    <span><b>Tata communication Ltd. </b></span>
</p>
</body>
</html>